fastapi>=0.121.2
uvicorn>=0.31.1
gunicorn==23.0.0
azure-identity==1.19.0
#azure-ai-projects==2.0.0b2
azure-ai-projects==1.0.0
azure-identity 
openai
azure-ai-agents
azure-core==1.36.0
starlette>=0.47.2
jinja2
sqlalchemy[asyncio]
asyncpg
alembic
python-jose[cryptography]
argon2-cffi
python-multipart
agent-framework
azure-appconfiguration-provider
aiohttp
azure-keyvault-secrets
